<title>Inicio</title>
{% extends "base.html"%}
{% load static %}
    <script src="{% static '/JS/Main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/estilosHome.css' %}"/>

  {% block content %}
  <section class="zona1" style="padding-top:150;">
    <div class="text-header">
      <div class="container">
          <div class= "row justify-content-between">
            <div class="col-8" style="padding-top: 60;">
              <h2 class="subt"><span> BIENVENIDOS </span></h2>
              <h4 class="subtm">La lengua de señas es un lenguaje visual 
                en el que la comunicación se da a través de <br>movimientos manuales, 
                faciales y corporales.
                Aprender un segundo idioma no solo es bueno para tu cerebro;<br>
                también es una excelente manera de mejorar sus habilidades de comunicación.
              </h4>
            </div>
            <div class="col-4" style="padding-top: 60;">
              <img src='..\static\Img\PERSONAJE1.svg'>
            </div>
          </div>
        </div>
      </div>
  </section>
  <body>
    <div class="col-12">
        <div class="row mb-1">
            <div class="col-8" style="max-width: 100%;">
              <div class=" text-center " > 
                <p class="text-center">
                  
                {{dic}}{{Descripcion1}}
                </p>
              </div>
              
              <div class="container text-center" id="imagenes" style="max-width: 100%;">
                <div class="row mb-1">
                  <div class="col-12 ">
                    <img src="{% static 'img/A.png' %}"  class="imagenes2" type="button" onclick="cargarImagen('letraa')" onmouseover="cargarImagen('letraa')">
                    <img src="{% static 'img/B.png' %}" class="imagenes2"  type="button" onclick="cargarImagen('letrab')" onmouseover="cargarImagen('letrab')">
                    <img src="{% static 'img/C.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letrac')" onmouseover="cargarImagen('letrac')">
                    <img src="{% static 'img/D.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letrad')" onmouseover="cargarImagen('letrad')">
                  </div>
                </div>
                <div class="row mb-1">
                  <div class="col-12">
                    <img src="{% static 'img/E.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letrae')" onmouseover="cargarImagen('letrae')">
                    <img src="{% static 'img/F.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letraf')" onmouseover="cargarImagen('letraf')">
                    <img src="{% static 'img/G.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letrag')" onmouseover="cargarImagen('letrag')">
                    <img src="{% static 'img/H.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letrah')" onmouseover="cargarImagen('letrah')">
                  </div>
                </div>
                <div class="row mb-1">
                  <div class="col-12">
                    <img src="{% static 'img/I.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letrai')" onmouseover="cargarImagen('letrai')">
                    <img src="{% static 'img/J.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letraj')" onmouseover="cargarImagen('letraj')">
                    <img src="{% static 'img/K.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letrak')" onmouseover="cargarImagen('letrak')">
                    <img src="{% static 'img/L.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letral')" onmouseover="cargarImagen('letral')">
                  </div>
                </div>
                <div class="row mb-1">
                  <div class="col-12">
                    <img src="{% static 'img/M.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letram')" onmouseover="cargarImagen('letram')">
                    <img src="{% static 'img/N.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letran')" onmouseover="cargarImagen('letran')">
                    <img src="{% static 'img/NE.png' %}"class="imagenes2"  type="button" onclick="cargarImagen('letrane')" onmouseover="cargarImagen('letrane')">
                    <img src="{% static 'img/O.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letrao')" onmouseover="cargarImagen('letrao')">
                  </div>
                </div>
                <div class="row mb-1">
                  <div class="col-12">
                    <img src="{% static 'img/P.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letrap')" onmouseover="cargarImagen('letrap')">
                    <img src="{% static 'img/Q.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letraq')" onmouseover="cargarImagen('letraq')">
                    <img src="{% static 'img/R.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letrar')" onmouseover="cargarImagen('letrar')">
                    <img src="{% static 'img/S.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letras')" onmouseover="cargarImagen('letrass')">
                  </div>
                </div>
                <div class="row mb-1">
                  <div class="col-12" >
                    <img src="{% static 'img/T.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letrat')" onmouseover="cargarImagen('letrat')">
                    <img src="{% static 'img/U.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letrau')" onmouseover="cargarImagen('letrau')">
                    <img src="{% static 'img/V.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letrav')" onmouseover="cargarImagen('letrav')">
                    <img src="{% static 'img/W.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letraw')" onmouseover="cargarImagen('letraw')">
                  </div>
                </div>
                <div class="row mb-1">
                  <div class="col-12">
                    <img src="{% static 'img/X.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letrax')" onmouseover="cargarImagen('letrax')">
                    <img src="{% static 'img/Y.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letray')" onmouseover="cargarImagen('letray')">
                    <img src="{% static 'img/Z.png' %}" class="imagenes2" type="button" onclick="cargarImagen('letraz')" onmouseover="cargarImagen('letraz')">
                    
                    
                  </div>
                </div>
              </div>
            </div>  
              <div class=" col-2" >
                <div class="row">
                  <div class="col-8 ">
                    <div id="Imagen2 "  class="mx-auto"  >
                      <img id="imagen"  src="{% static 'img/Mensaje.png' %}" style="padding-top: 120px;">
                    </div>
                      <p class="text-justify " > 
                        {{dic}}{{Descripcion2}}
                      </p>
                  </div>
                </div>
                
              </div>
        </div>
    </div>
  </body>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
