body{
	margin: 0;
	padding: 0;
}
.subt{
	color:rgb(222, 222, 222)
}
.subtm{
	color:#dedede
}
h4{
	color:#dedede
}
p{
	color:#dedede
}
section{
	width: 100%;
}

.titulo{
	font-family: Bahnschrift;
	font-size: 60px;
	margin-top: 30px;
	margin-left: 50px;
	margin-bottom: 0;
	color: rgb(244, 244, 244);
}

.subtitulo{
	font-family: Bahnschrift;
	font-size: 20px;
	margin-top: 20px;
	margin-left: 50px;
	color: white;
}

.video-container{
	margin:auto;
	width: 665px;
	height: auto;
	border: 10px #ffffff solid;
	border-radius: 25px;
}

.video-element {
	width: auto;
	height: auto;
	background-color: #5F8095;
	border-radius: 10px;
}

.text-normal{
	font-family: Bahnschrift;
	font-size: 20px;
	text-align: center;
	color: #707070;
}


.texto-footer{
	font-family: Bahnschrift;
	font-size: 20px;
	text-align: left;
	color: white;
}

.footer{
	background-color: rgb(0, 16, 99);
	width: 1020px;
	height: 190px;
}

.linea3{
	height: 24vh; 
	border: none;
	border-left: 1px solid white;
	margin-left: 40px;
}